<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание контакта</title>
</head>

<body>
    <h1>Создание контакта</h1>
    <form action="/contact/create" method="post">
        <div>
            <label for="firstName">Имя</label>
            <input type="text" id="firstName" name="firstName" required th:value="${contact.firstName}">
        </div>
        <div>
            <label for="lastName">Фамилия</label>
            <input type="text" id="lastName" name="lastName" required th:value="${contact.lastName}">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required th:value="${contact.email}">
        </div>
        <div>
            <label for="phoneNumber">Номер телефона</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required th:value="${contact.phoneNumber}">
        </div>
        <button type="submit">Сохранить</button>

    </form>
</body>
</html>
